@model IEnumerable<TechNightTweetViewer.Models.TechNightTweet>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ID)</th>
        <th>
            @Html.DisplayNameFor(model => model.Tweet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tweeter)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tweet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tweeter)
        </td>
        
    </tr>
}

</table>
